@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");
@import "../parciales/variables";
.footer { grid-area: footer; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: linear-gradient(to left,  $celeste, $blanco);

    &__section{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        flex-basis: 65%;
        justify-content: space-around;
        align-content: center;
    }
    &__titulo {
        color: $azul;
        font-family: raleway;
        font-size: 3rem;
        @include tablet{
            font-size: 2rem;
        }
        @include mobil{
            font-size: 1.5rem;
        }
    }
    &__img {
        max-width: 70px;
        padding: 15px;
      }
    &__redes {
        justify-content: space-around;
        display: flex;
        align-items: flex-start;
      }
    &__maps {
        display: flex;
        justify-content: center;
        padding: 10px;
        width: 50%;
        &__img{
          width: 90%;
          height: 100%;
        }
      }
}
