@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");
@import "../parciales/variables";
.main__contenedor{
    padding: 0;
}
/*----------------carousel--------------------*/
.gym__carousel{
    height: 70vh;
}
/*----------------imágenes sueltas--------------------*/
.subtitulo{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    padding: 10px;
    h2{
        color: $blanco;
        font-family: raleway;
        font-size: 3rem;

        @include tablet{
            font-size: 2.6rem;
        }
        @include mobil{
            font-size: 1.6rem;
        }
    }
}
.gym2{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: center;
    height: 100%;
    padding-bottom: 20px;
    padding: 0;

    &__cont{
        height: 62vh;
        width: 24%;
        display: flex;
        justify-content: center;

        @include tablet{
            width: 45%;
        }
        @include mobil{
            width: 90%;
            padding: 0;
        }

        &__img{
            width:100%;
            padding:30px;
        }

        &__chau{
            width: 24%;
            height: 62vh;
            display: flex;
            justify-content: center;

            @include tablet{
                width: 45%;
            }
            @include mobil{
                display: none;
            }
        } 
    }
}
/*----------------cuadro de profes--------------------*/

.cuadro__gym{
    width: 23%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    background-color: $oscuro;
    justify-content: space-evenly;
    border: solid $gris;
    align-items: center;

    @include tablet{
        width: 40%;
    }
    @include mobil{
        width: 85%;
    }

    &__David{

        &__img{
        width: 100%;
        padding: 20px;
        height: 50vh;
        @include tablet{
            height: 45vh;
        }
        }
        &__text{
            flex-direction:column;
            display: flex;
            align-items: center;
            font-size: 1rem;
        }
    }
    
    &__Agus{
        &__img{
            width: 100%;
            padding: 20px;
            height: 50vh;
            @include tablet{
                height: 45vh;
            }
        }
        &__text{
            flex-direction:column;
            display: flex;
            align-items: center;
            font-size: 1rem;
        }
    }    
}
/*----------------video--------------------*/
.gym3{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;

    @include mobil{
        flex-direction: column;
        padding: 10px;
    }

    &__h2{
        color: $blanco;
        font-family: raleway;
        font-size: 2.8rem;
        width: 60%;

        @include tablet{
            width: 41%;
            font-size: 1.8rem;
        }
        @include mobil{
            width: 80%;
            font-size: 1.5rem;
        }
    }

    &__video{
        padding: 10px;
        width: 90%;
        height: 90%;
        display: flex;
        justify-content: center;

        @include tablet{
            width: 70%;
        }
        @include mobil{
            width: 90%;
        }
    }
    &__iframe{
        width: 100%;
        height: 100%;

        @include mobil{
            height: 95%;
        }
    }
}


