@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");
@import "../parciales/variables";
.nutri{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: center;
    height: 100%;
    padding-bottom: 20px;
    &__cont{
        width: 45%;
        display: flex;
        justify-content: center;
        &__img{
            width:90%;
            padding: 30px;
        }
        &__img:hover{
           width: 91%;
        }
    }
}
.nutri3{
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 500px;
    &__h2{
        color: $blanco;
        font-family: raleway;
        font-size: 2.8rem;
        width: 35%;
    }
    &__video{
        width: 70%;
        height: 100%;
        margin:20px;
    }
}
.nutri2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: $marino;
}
.cuadro{
    margin: 20px;
    width:23%;
    display: flex;
    flex-direction: column;
    background-color: $oscuro;
    justify-content: space-evenly;
    border: solid $gris;

    &__Nutri{
        &__img{
        width: 100%;
        padding: 20px;
        }
        &__text{
            flex-direction:column;
            display: flex;
            align-items: center;
            font-size: 1rem;
        }
    }  
}