@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");
@import "../parciales/variables";

.main{
    font-size: 2rem;
    background-image: url(../assets/remerasynergy.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size:85%;
    color: $marino;
    &__titulo{
        padding: 50px;
        color: white;
    }
}
.row{

    padding-bottom: 250px;
}
.forma{
    width: 40%;
    &__datos{
        font-size: 2.5rem;
    }
}
.radioButom{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 30px;
}
